name: CI

on:
  push:
  pull_request:
  schedule:
  - cron:  '1 0 * * 0'

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build Docker image
      if: "!(startsWith(github.ref, 'refs/tags/'))"
      uses: docker/build-push-action@v1
      with:
        repository: matthewfeickert/madgraph5-amc-nlo
        dockerfile: Dockerfile
        tags: test
        tag_with_sha: true
        tag_with_ref: true
        push: false
    - name: List Built Images
      run: docker images
    - name: Run test program
      run: >-
        docker run --rm
        -v $PWD:$PWD
        -w $PWD
        matthewfeickert/madgraph5-amc-nlo:test
        "mg5_aMC tests/test_top_mass_scan.txt"
